
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: space-between; 
  height: 100vh;
  padding: 20px 0;
   background: #f0f3f5;
}

.sidebar-logo {
  display: flex;
  justify-content: center; 
  width: 11px;
  height: 12px;
  align-items: center;     
  margin-bottom: 50px;
}

.sidebar-logo img {
  width: 45px;
  height: 45px;
  object-fit: contain;
}



.sidebar-top-icons {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 38vh;
  align-items: center;
}

.sidebar-bottom {
  margin-bottom: 20px;
}



.sidebar-item .icon {
  font-size: 25px;
}

.sidebar-item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-item {
  color: white;
  font-size: 28px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.sidebar-item.active .icon {
 color: #939292;
}

.link-name {
  font-size: 12px;
  margin-top: 5px;
  text-align: center;
  color: #424242;
}
.sidebar-item.active .link-name {
  color: #10b981; 
}

.icon{
  color: #939292;
}