/* Page container */
.login-page {
  display: flex;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  position: relative; /* for absolute logo positioning */
}

/* Form left side */
.login-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;    
  padding: 50px;
  background-color: #fff;
}

.name-form {
  font-size: 28px;
  font-weight: 600;
 margin-right: 55vh;
 color: black;
  margin-bottom: 40px; /* increased gap below heading */
}

/* Inputs - medium width */
.login-form form input {
  width: 100vh;
  max-width: 800px;
  padding: 12px;
  margin: 10px auto;   /* increased gap between inputs */
  border-radius: 8px;
  border: 1px solid #d1d5db;
  outline: none;
  font-size: 14px;
  display: block;
}

.login-form form input:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 0 2px rgba(79,70,229,0.2);
}

/* Button - same width as input */
.login-form form button {
  width: 100vh;
  max-width: 800px;
  margin: 25px auto 0 auto;  /* increased gap from last input */
  padding: 12px;
  background-color: #C3C3C3;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: block;
}

.login-form form button:hover {
  background-color: #C3C3C3;
}

/* Paragraph & link */
.login-form p {
  margin-top: 20px;
  font-size: 14px;
  color: #6b7280;
  text-align: center;
}

.login-link {
  color: #4f46e5;
  font-weight: 500;
  cursor: pointer;
}

.login-link:hover {
  text-decoration: underline;
}

/* Image right side */
.login-image {
  flex: 1;
  height: 100vh;
  display: flex;
  align-items: center;  /* center vertically */
  justify-content: center; /* center horizontally */
  overflow: hidden; 
}

.login-image img {
   max-width: 100%;
  max-height: 100%;
  width: auto;       /* maintain aspect ratio */
  height: auto;      /* maintain aspect ratio */
  object-fit: contain; /* contain within container */
}

/* Header with Sign in link center */
.login-header {
  width: 80%;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.login-header h2 {
  margin: 0;
}

/* Logo + Hubly at top-left */
.login-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 100;
}

.login-logo img {
  width: 50px;
  height: auto;
}


.logo-text {
  font-size: 34px;
  font-weight: 500;
  color: #17175c;
}

.footer-text {
  width: 100%;
  max-width: 470px;
  font-size: 12px;
  color: gray;
  white-space: nowrap;
  position: fixed; 
  bottom: 30px;     
  left: 50%;        
  transform: translateX(-160%);
  text-align: center;
}


/* Responsive */
@media (max-width: 1024px) {
  .login-page {
    flex-direction: column;
  }

  .login-image {
    display: none;
  }
}
